* {
  margin: 0;
  padding: 0;
}

body {
  background: #edeef0;
  color: #000;
  margin: 0;
  padding: 0;
  direction: ltr;
  font-size: 13px;
  font-family: -apple-system,BlinkMacSystemFont,Roboto,Open Sans,Helvetica Neue,sans-serif;
  line-height: 1.154;
  font-weight: 400;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: auto;
}

abbr {
  font-size: 80%;
  text-transform: uppercase;
  letter-spacing: .12em;
}

tt, code, pre {
  font-family: Menlo, Consolas, DejaVu Mono, monospace;
  color: #444;
  font-size: 90%;
  line-height: 1.4em;
}

pre, blockquote, ol, ul {
  margin: -.25em 0 1em 2em;
  width: 94%;
  overflow: scroll;
}

ol, ul {
  margin: -.5em 0 0 -1.75em;
  padding: 0 1.75em 0;
}

.header {
  width: 100%;
  background: #507299;
  height: 42px;
  box-sizing: border-box;
}

.article p {
  color: #000;
  font-size: 15px;
  line-height: 22.5px;
  letter-spacing: -0.1px;
  padding-top: 12px;
  text-decoration: none!important;
  display: block;
  word-wrap: break-word;
}

li {
  margin: .25em 0 .5em;
}

a {
  text-decoration: none;
  color: #2a5885;
}

a:hover, .article-title a:hover {
  color: #2a5885;
}

.article a:hover, .footer a:hover {
  text-decoration: underline;
}

.article-link {
  line-height: 1em;
}

.article-title a.permalink {
  font-size: 90%;
  vertical-align: top;
  opacity: .3;
}

.article-date {
  color: #656565;
  font-weight: normal;
  margin-bottom: 5px;
}

a.permalink:hover {
  opacity: 1;
}

.header h1 {
  font-size: 15px;
  line-height: 1.5em;
  top: 0;
  text-align: center;
  padding-top: 2px;
  margin-bottom: .5em;
  font-weight: normal;
}

.header h1 a {
  display: block;
  width: 100%;
  color: #fff;
  padding: 10px 0;
}

.header h1 a span {
  width: 100%;
  display: block;
  line-height: 1.3em;
}

.articles h1 {
  font-size: 100%;
  margin: 1.75em 0 .5em;
}

.articles h1, h3, h4, h5 {
  font-size: 100%;
}

.articles h2 {
  font-size: 100%;
  font-weight: normal;
}

.article-title a, a.black-link {
  color: #000000;
}

h2.article-title {
  border-bottom: none;
  font-size: 1em;
  font-weight: 400;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: auto;
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 28px;
  color: #000;
  margin-bottom: 6px;
}

.content {
  max-width: 720px;
  margin: 2% auto;
}

.article {
  position: relative;
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
  margin: 15px 0 0;
  padding: 24px 25px 36px;
}

.banner {
  display: block;
  margin: 10px -25px;
  width: calc(100% + 50px);
  height: auto;
}

img {
  padding: 5px 0 5px;
}

.footer {
  position: relative;
  bottom: 0;
  padding-top: 20px;
  font-size: 11px;
  line-height: 1.5em;
}

.footer, .footer a {
  color: #939699;
}

.footer p {
  margin: 0;
}

@media (max-width: 700px) {
  .article {
    border-radius: 0;
    margin-left: 0;
    margin-right: 0;
    max-width: 100%;
  }
  pre, blockquote {
    margin-left: 0;
  }
  ol, ul {
    margin: 0;
    width: -webkit-calc(94% - 2em);
    padding: 0 1.45em 0;
  }
  .footer {
    margin: 0 0 20px 25px;
  }
}
