<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width">
        <meta charset="utf-8">
        <title>@@SiteTitle@@ — @@Title@@</title>
        <link rel="stylesheet" type="text/css" href="/css/site.css">
        <link rel="alternate" type="application/rss+xml" title="@@SiteTitle@@" href="/rss">
    </head>
	<body>
        <section class="content">
            <section class="header">
                <h1><a href="/" class="{{#if Home}}black-link{{/if}}"><span>@@SiteTitle@@</span></a></h1>
            </section>
            <section class="articles">
